.all {
  display: flex;
  height: 100%;

  @media (max-width:746px) {
    flex-direction: column;
  }

}

.Sidebar {
  position: relative;
  height: 100%;
  width: clamp(50px,100px, 200px);
  background: linear-gradient(90deg,rgba(38, 13, 61, 0.664) 25%,rgba(150, 68, 212, 0.459));
  @media (max-width:746px) {
     background: linear-gradient(180deg,rgba(38, 13, 61, 0.664) 25%,rgba(150, 68, 212, 0.459));
    width: 100%;
    height: 10%;

  }
}


.botones {
  position: absolute;
  display: grid;
  justify-self: center;
  grid-template-areas:
    "a"
    "b"
    "c";
  top: 50%;
  transform: translateY(-50%);

  @media (max-width:746px) {
    justify-self: center;
    grid-template-areas:
      "a b c";
  }
}



.content{
  width: 100%;
  height: 1005;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
  padding: 20px;
  .objeto{
    height: max-content;

    //wea pal calculo del tamaño
    flex: 0 1 calc(20% - 15px);
    min-width: 220px;

    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px rgb(65, 36, 112);

    h3 {
      color: wheat;
      margin: 0;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
    }

    ion-img {
      width: 80%;
      height: 80%;
      object-fit: contain;
      display: block;
    }
  }
}