<ion-content [fullscreen]="true">

  <div class="all">

    <aside class="Sidebar">
      <ion-buttons class="botones">
        <ion-button [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>


        <ion-button [routerLink]="['/trabajos']">
          <ion-icon slot="icon-only" name="card"></ion-icon>
        </ion-button>


        <ion-button *ngIf="!(ocultarBtn$ | async)">
          <ion-icon slot="icon-only" name="terminal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </aside>


    <main class="content">
      <div class="objeto" *ngFor="let logo of Stack"
      (click)="logo.isFlipp = !logo.isFlipp"
      [class.is-flipped]="logo.isFlipp">
        
        <div class="objeto-inner">
          <div class="objeto-front">
            <ion-img [src]="logo.icono"></ion-img>
          </div>

          <div class="objeto-back">
            <h3>{{logo.titulo}}</h3>
          </div>
        </div>

      </div>
    </main>
  </div>

</ion-content>