<ion-content [fullscreen]="true">

  <div class="all">

    <aside class="Sidebar">
      <ion-buttons class="botones">
        <ion-button *ngIf="!(ocultarBtn$ | async)">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>


        <ion-button [routerLink]="['/trabajos']">
          <ion-icon slot="icon-only" name="card"></ion-icon>
        </ion-button>


        <ion-button  [routerLink]="['/habilidades']">
          <ion-icon slot="icon-only" name="terminal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </aside>


    <main class="content">
      <div class="divContenidos">

        <div class="divSup">
          <div id="tetto">
            <ion-text color="tertiary">
              Buenas
            </ion-text>

            <ion-text color="secondary">
              Soy Martin
            </ion-text>
          </div>

          <div id="animacion">
          </div>

        </div>

        <div class="divInf">
          <ion-text id="desc" color="primary">
            Soy un ingenerio de software en desarrollo con el objetivo
            de aprender tecnologias, y en especial sus metodos mas utiles
            y con estas hacer trabajos que ayuden a los demas.
          </ion-text>
        </div>

      </div>
    </main>
  </div>

</ion-content>