
<ion-content [fullscreen]="true">

  <div class="all">

    <aside class="Sidebar">
      <ion-buttons class="botones">
        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>


        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only" name="card"></ion-icon>
        </ion-button>


        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only" name="terminal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </aside>


    <main class="content">
      <div class="divContenidos">

        <div class="divSup">
          <div id="tetto">
            dwdwd
          </div>

          <div id="animacion" style="background-color: blue;">
            dw
          </div>

        </div>

        <div class="divInf">
          <ion-text class="ion-text-md-capitalize">
            <h1>Awesome text</h1>
          </ion-text>
        </div>

      </div>
    </main>
  </div>

</ion-content>
